* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::-webkit-scrollbar {
        display: none;
    }
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    font-size: 18px;
    font-weight: 300;
    font-family: $font-primary;
    color: $color-grey-dark;

    & ul {
        list-style: none;
    }

    & a {
        text-decoration: none;
    }
}

@media (min-width: 1201px) {
    html {
        background-color: black;
        background-image: url(../../img/principal/background.jpg);
        background-size: 100%;
        background-repeat: repeat-x;
        background-attachment: fixed;
        background-position-y: center;
        background-position-x: 45px;
    }

    body {
        background: rgba(255,255,255, .8);
        backdrop-filter: invert(100%);
    }
}

@media (max-width: 1201px) {
    body {
        height: fit-content;
        overflow: scroll;
    }
}