// COLORS
$color-primary: #2579e9;
$color-blue-light: #0095f7;
$color-white: #f8f8ff;
$color-grey-light: #bbc3c7;
$color-grey: #7f7f7f;
$color-grey-dark: #3f3f3f;

// FONT
$font-display: 'Poly', serif;
$font-primary: 'Nunito', sans-serif;